@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icons/icomoon.eot?o0rkh1');
    src:  url('../fonts/icons/icomoon.eot?o0rkh1#iefix') format('embedded-opentype'),
      url('../fonts/icons/icomoon.ttf?o0rkh1') format('truetype'),
      url('../fonts/icons/icomoon.woff?o0rkh1') format('woff'),
      url('../fonts/icons/icomoon.svg?o0rkh1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-material:before {
    content: "\e900";
  }
  .icon-city:before {
    content: "\e901";
  }
  .icon-insta:before {
    content: "\e902";
  }
  .icon-map:before {
    content: "\e903";
  }
  .icon-parking:before {
    content: "\e904";
  }
  .icon-phone:before {
    content: "\e905";
  }
  .icon-phone-call:before {
    content: "\e906";
  }
  .icon-star-solid:before {
    content: "\e907";
  }

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F8F8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
}

a#phoneGroup {
    display: block;
    width: 100%;
    text-decoration: none;
    line-height: 1.3;
    color: #333;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    text-align: right;
}

a#phoneGroup span.icon {
    float: right;
    margin-left: 12px;
    margin-top: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    background-image: linear-gradient(
  40deg,
  hsl(47deg 59% 58%) 0%,
  hsl(46deg 55% 56%) 6%,
  hsl(46deg 52% 54%) 12%,
  hsl(46deg 50% 52%) 18%,
  hsl(46deg 48% 49%) 24%,
  hsl(45deg 51% 47%) 29%,
  hsl(45deg 54% 44%) 35%,
  hsl(45deg 59% 41%) 41%,
  hsl(45deg 66% 37%) 47%,
  hsl(45deg 66% 37%) 53%,
  hsl(45deg 59% 41%) 59%,
  hsl(45deg 54% 44%) 65%,
  hsl(45deg 51% 47%) 71%,
  hsl(46deg 48% 49%) 76%,
  hsl(46deg 50% 52%) 82%,
  hsl(46deg 52% 54%) 88%,
  hsl(46deg 55% 56%) 94%,
  hsl(47deg 59% 58%) 100%
);
    border-radius: 50%;
    color: #fff;
    padding: .7rem 0;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgb(200 168 58);
    }

    100% {
        box-shadow: 0 0 0px 5px rgb(200 168 58 / 30%)
    }
}

a#phoneGroup .phoneNumber {
    font-size: 1rem;
    font-weight: 500;
}

a#phoneGroup .info {
    font-size: 0.95rem;
    font-weight: 500;
    color: #6A6A6A;
}

.btn-gradient {
    color: #fff;
    background-image: linear-gradient(
        40deg,
        hsl(47deg 59% 58%) 0%,
        hsl(46deg 55% 56%) 6%,
        hsl(46deg 52% 54%) 12%,
        hsl(46deg 50% 52%) 18%,
        hsl(46deg 48% 49%) 24%,
        hsl(45deg 51% 47%) 29%,
        hsl(45deg 54% 44%) 35%,
        hsl(45deg 59% 41%) 41%,
        hsl(45deg 66% 37%) 47%,
        hsl(45deg 72% 36%) 53%,
        hsl(46deg 72% 38%) 59%,
        hsl(46deg 73% 40%) 65%,
        hsl(46deg 73% 42%) 71%,
        hsl(46deg 73% 44%) 76%,
        hsl(46deg 73% 46%) 82%,
        hsl(46deg 73% 48%) 88%,
        hsl(46deg 73% 49%) 94%,
        hsl(46deg 76% 51%) 100%
        );
    background-size: 300% 100%;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 0 0.2rem rgb(195 164 57 / 31%);
}

.btn {
    border: none;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.54rem 1.5rem;
    border-radius: 130px;
}

.btn-gradient:hover {
    color: #fff;
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    box-shadow: 0rem 0rem 1rem 0.5rem rgb(221 185 137 / 39%);
}

section.slider {
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    min-height: 725px;
    max-width: 1980px;
    margin: auto;
}

.city {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 0;
    background-size: cover;
    background-position: center;
}

.cloud {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 1;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.crop {
    position: absolute;
    left: -3px;
    right: -3px;
    top: 0px;
    bottom: -1px;
    z-index: 2;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

section.slider:before {
    z-index: 1;
}

a.navbar-brand {
    position: relative;
}

ul.nav-menu {
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    text-transform: uppercase;
    padding: 0px;
    list-style: none;
}

ul.nav-menu li {
    display: inline-block;
}

ul.nav-menu.left li {
    margin-left: 1rem;
}

ul.nav-menu.right li:not(:last-child) {
    margin-right: 2.5rem;
}

ul.nav-menu a {
    color: #333;
    text-transform: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
}

ul.nav-menu a:before {
    position: absolute;
    content: '';
    left: 0px;
    bottom: -5px;
    right: 100%;
    height: 2px;
    background: #c8a020;
    border-radius: 1px;
    transition: .4s all;
}

ul.nav-menu a:hover:before {
    right: 0;
}

ul.nav-menu a.active:before {
    right: 0;
}

.section-slider-content {
    position: relative;
    z-index: 5;
}

.section-slider-content {
    color: #fff;
    width: 100%;
}

.section-slider-content h1 {
    font-size: 3.2rem;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #333333;
    text-transform: inherit;
}

.gold {
    color: #c8a020;
}

.section-slider-content h1 .icon-star-solid {
    font-size: 3rem;
}

.slider_content {
    display: inline-block;
    margin-top: 10px;
}

.slider_content p {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 110%;
    /* or 24px */
    color: #333333;
}

.slider_content h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 2.3rem;
    line-height: 1;
    /* or 39px */
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0px;
    text-transform: initial;
    margin-top: 10px;
}

.sectionTitle {
    font-size: 2rem;
    margin-bottom: 1.4rem;
    position: relative;
    font-weight: 400;
    line-height: 1.2;
    color: #2B2A29;
    text-transform: none;
    z-index: 1;
}

.img-block img {
    width: 100%;
}

.img-block {
    position: relative;
}

.sectionTitle .ghostTitle {
    position: absolute;
    left: 0px;
    top: -3rem;
    font-size: 5rem;
    color: rgb(231 198 242 / 18%);
    z-index: 0;
}

.fixed {
    background: rgb(255 255 255 / 0.94);
    box-shadow: 0px 2px 7px rgb(0 0 0 / 15%);
    transition: .3s all;
    transform: translateY(-100%);
}

.sticky {
    position: fixed !important;
    transform: translateY(0px);
}

.fixed ul.nav-menu a {
    color: #333;
    text-shadow: none;
}

.fixed a#phoneGroup {
    text-shadow: none;
    color: #333;
}

.fixed a#phoneGroup img {
    filter: invert(0.7);
}

.fixed a#phoneGroup .info {
    color: #969696;
}

.fixed a.navbar-brand img {
    /* width: 85px; */
}

.fixed a#sidebarToggle svg path {
    stroke: #4c4c4c;
}

@media (min-width: 768px) {
    .sectionTitle .color {
        white-space: nowrap;
    }
}

.bg-light {
    background-color: rgb(231 198 242 / 20%) !important;
}

.btn-outline-shahar {
    border: 2px solid #9664A6 !important;
    font-weight: 600 !important;
    font-size: 0.9rem !important;
    line-height: 20px !important;
    color: #333333;
    outline: none !important;
    box-shadow: 0px 3px 10px -4px rgb(7 79 86 / 70%) !important;
    border-radius: 3px;
}

.btn-outline-shahar:hover,
.btn-outline-shahar:focus,
.btn-outline-shahar:active,
.btn-outline-shahar.active {
    color: #fff !important;
    background: linear-gradient(87.01deg, #9664A6 -6.73%, #C07FD5 51.71%, #A865BD 107.1%), #C4C4C4;
}

.btn-outline-shahar.gold {
    border: 2px solid #0E8F7C !important;
}

.btn-outline-shahar.gold:hover,
.btn-outline-shahar.gold:focus,
.btn-outline-shahar.gold:active,
.btn-outline-shahar.gold.active {
    background: #0E8F7C;
}

.floot-info h4 {
    font-weight: 500;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
    text-transform: none;
    font-family: 'Montserrat', sans-serif;
}

.floot-info h6 {
    font-size: 1.3rem;
    line-height: 108%;
    color: #333;
    margin-bottom: 0px;
}

a.downloadPlan {
    margin-top: 10px;
    display: inline-block;
    color: #2b2a29;
    font-weight: 500;
}

.floor-plan img {
    max-height: 415px;
    margin: auto;
    display: inline-block !important;
    display: block;
    width: 100%;
}

.floor-plan {
    text-align: center;
}

.advantage span {
    position: absolute;
    font-size: 8rem;
    font-weight: 700;
    color: #fff;
    z-index: 0;
    left: 20px;
    top: 50%;
    line-height: 1;
    transform: translateY(-50%);
}

.advantage {
    position: relative;
}

.advantage h3 {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: #333;
    z-index: 1;
    position: relative;
}

.advantage p {
    z-index: 1;
    position: relative;
    font-size: 1rem;
    line-height: 1.4;
    color: #4F4F4F;
}

.advantage p:last-child {
    margin-bottom: 0px !important;
}

.advantage.text-start span {
    left: auto;
    right: 20px;
}

.advantage .arrow {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(100%, -3px);
}

.advantage.text-start .arrow {
    right: auto;
    left: 5px;
    transform: rotate(180deg) translate(100%, -3px);
}

section#buildingSteps .swiper-slide {
    background-size: cover;
    background-position: center;
    text-align: center;
    overflow: hidden;
}

footer#footer {
    background: #2C2C2C;
}

ul.footer-menu li {
    display: inline-block;
    float: right;
    color: #fff;
    margin-left: 30px;
}

ul.footer-menu li a {
    color: #ffff;
    /* font-weight: 500; */
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

ul.footer-menu {
    padding: 15px 0px;
}

footer#footer img.logo {
    max-width: 150px;
    margin: 6px 0px;
}

.map-informer-block {
    left: 0px;
    right: 0px;
    top: 12px;
    z-index: 999;
}

section.map.pt-5 {
    position: relative;
}

.map-informer {
    background: #ffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 10px -2px rgba(30, 30, 30, 0.2);
    position: absolute;
    z-index: 999;
    top: -40px;
}

.map-informer .header {
    padding: 30px 30px 15px 30px;
    background: linear-gradient(87.54deg, #15808A 4.57%, #1B8D98 51.67%, #3DD5E3 95.89%), #EBF8FA;
    color: #fff;
}

.map-informer .body {
    padding: 15px 30px 30px 30px;
}

.map-informer .body form {
    margin-bottom: 0px;
}

.map-informer .body form input {
    padding: 12px 17px;
}

.map-informer-block .col-md-4 {
    position: relative;
}

.form-control:focus {
    border-color: #dcb787;
    box-shadow: 0 0 0 0.23rem rgb(219 182 134 / 25%);
}

.callback-form input {
    border-radius: 0;
    font-size: 1rem;
    padding: 5px 15px;
    background: #FFFFFF;
    border: 0.5px solid #e4e4e4;
    box-sizing: border-box;
    box-shadow: 0px 5px 12px -4px rgba(0, 0, 0, 0.07);
}

.callback-form h2 {
}

.callback-form p {
    font-weight: 500;
}

.contacts-content {
    position: absolute;
    z-index: 11;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    pointer-events: none;
}

section#contacts {
    position: relative;
}

.callback-form:before {
    background: rgba(0, 0, 0, 0.6);
    filter: blur(35px);
    position: absolute;
    left: 60px;
    right: 60px;
    top: 60px;
    bottom: 30px;
    z-index: -1;
    content: '';
}

.callback-form {
    position: relative;
    pointer-events: all;
    max-width: 450px;
    margin: auto;
}

.steps-swiper .swiper-wrapper {
    height: auto !important;
}

div#preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    background: rgb(255 255 255 / 0.95);
    text-align: center;
}

.preloader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
}

.preloader-content img {
    width: 120px;
    display: inline-block;
    position: relative;
}

.step-information {
    position: absolute;
    right: 20px;
    bottom: 20px;
    transform: rotate(-90deg) translate(100%, 40%);
    padding: 9px 20px;
    background-color: rgb(255 255 255 / 90%);
    transform-origin: right bottom;
}

section#buildingSteps .swiper-slide:before {
    position: absolute;
    content: '';
    background: linear-gradient(0deg, rgb(0 0 0 / 50%) 0%, transparent 30%);
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.step-information h3 {
    float: left;
    color: #333333;
    font-weight: 400;
    display: inline-block;
    margin: 0px !important;
    padding: 8px 0;
    font-family: 'Montserrat';
    line-height: 1;
    font-size: 1.5rem;
    cursor: pointer;
}

.swiper-slide .stepImage {
    position: absolute;
    left: -15px;
    top: -15px;
    right: -15px;
    bottom: -15px;
    background-size: cover;
    background-position: center;
}

.swiper-slide:not(.hasGallery) .stepImage {
    filter: blur(3.5px);
}

.step-information a {
    float: right;
    display: inline-block;
}

html,
body {
    overflow-x: hidden;
}

.bg-green {
    background: #EBF1E6;
}

#shadow {
    display: none
}

body.sidebarOpen #shadow {
    content: '';
    position: fixed;
    background: rgb(0 0 0 / 60%);
    z-index: 1111;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: block !important
}

section#discount img {
    max-width: 100%;
}

.floor-plan a {
    text-align: center;
    width: 100%;
    position: relative;
}

.swiper-lazy-preloader-pink {
    --swiper-preloader-color: #dbb685;
}

.about-items i {
    font-size: 4rem;
    margin-bottom: 1rem;
    display: inline-block;
    color: #c8a020;
}

.about-items__img {
    display: block;
    width: 56px;
    margin: 0 auto 16px auto;
}

.about-items>div {
    text-align: center;
    margin-top: 16px;
}

.about_block p {
    font-weight: 400;
    font-size: 14px;
}

.about-items p {
    font-weight: 500;
    line-height: 1.3rem;
}

.about-img img {
    position: absolute;
    transition: .5s all;
}

section#about {
    overflow: hidden;
    position: relative;
    background-image: url(https://cms.abpx.kz/storage/uploads/2021/06/08/60bf6e46eed665c834ebe0236916960eb9639-1.png);
    background-size: 45%;
    background-position: left center;
    background-repeat: no-repeat;
}

path.logo-head-bottom,
path.logo-head-middle,
path.logo-head-top {
    animation: loading--box-animation 3.5s infinite ease-in-out;
}

@keyframes loading--box-animation {
    0% {
        opacity: 0;
        transform: translate(0, -2000px);
    }

    10% {
        opacity: 0;
        transform: translate(0, -2000px);
    }

    25% {
        opacity: 1;
        transform: translate(0, 0);
    }

    75% {
        opacity: 1;
        transform: translate(0, 0);
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

path.logo-head-top {
    top: -20px;
    bottom: 0;
    animation-delay: 0.6s;
}

path.logo-head-middle {
    top: -40px;
    bottom: 0;
    animation-delay: 0.4s;
}

path.logo-head-bottom {
    top: -60px;
    bottom: 0;
    animation-delay: 0.2s;
}

.number:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0;
    z-index: -1;
    background: linear-gradient(87.54deg, #15808a 4.57%, #3dd5e3 95.89%);
    border-radius: 20px;
}

.number {
    position: absolute;
    z-index: 1;
    right: 0px;
    bottom: 0px;
    width: 70%;
    transform: translateY(50%);
}

.number .col-md-3 h4 {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 108%;
    /* or 59px */
    text-align: center;
}

.number .col-md-3 p {
    font-weight: normal;
    font-size: 18px;

    /* or 19px */
    text-align: center;
    color: #ffffff;
    margin-bottom: 0px;
}

.number .col-md-3 * {
    margin-bottom: 0px;
}

.number .col-md-3 {
    border-right: 1px solid #fff;
}

.number .col-md-3:last-child {
    border: none;
}

.aboutImages img {
    border-radius: 4px;
}

.aboutImages .left:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    color: #2cdbec;
    border-left: 2px solid;
    border-top: 2px solid;
    left: 35px;
    top: 25px;
}

.aboutImages .left:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    color: #ffffff;
    border-left: 2px solid;
    border-top: 2px solid;
    left: 47px;
    top: 35px;
}

.aboutImages .right:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    color: #2cdbec;
    border-right: 2px solid;
    border-bottom: 2px solid;
    right: 35px;
    bottom: 25px;
}

.aboutImages .right:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    color: #ffffff;
    border-right: 2px solid;
    border-bottom: 2px solid;
    right: 47px;
    bottom: 35px;
}

.aboutImages .left {
    position: relative;
}

.aboutImages .right {
    position: relative;
}

.advantages .col-md-6 img {
    float: left;
    width: 50px;
    margin-right: 30px;
}

.advantages .col-md-6 span {
    font-style: normal;
    font-weight: 600;
    font-size: 1.05543rem;
    line-height: 108%;
    /* or 19px */
    color: #222222;
}

.countNumber {
    opacity: 0;
}

button.owl-next span {
    position: absolute;
    right: 15px;
    top: 0px;
    background: #fff !important;
    z-index: 999;
    font-size: 35px !important;
    line-height: 35px !important;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    text-align: center;
    transition: all 0.3s;
    padding-left: 4px;
}

button.owl-prev span {
    position: absolute;
    left: 15px;
    top: 0px;
    background: #fff !important;
    z-index: 999;
    font-size: 35px !important;
    line-height: 35px !important;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    text-align: center;
    transition: all 0.3s;
    padding-right: 4px;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    height: 50px;
    transform: translateY(-50%) !important;
}

button.owl-next span:hover,
button.owl-prev span:hover {
    color: #ffffff !important;
    background: linear-gradient(87.54deg,
    #15808a 4.57%,
    #3dd5e3 95.89%) !important;
}

.owl-dots {
    position: absolute;
    right: 0px;
    left: 0px;
    margin-top: 15px;
}

.owl-theme .owl-dots .owl-dot span {
    border-radius: 2px !important;
    width: 20px !important;
    height: 4px;
    outline: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #16818b !important;
}

.owl-theme .owl-dots .owl-dot {
    outline: none;
}

.architecture-advs p {
    margin-bottom: 0px;
}

.architecture-advs span.separator {
    width: 60px;
    height: 2px;
    background: #b08a6a;
    margin-right: 25px;
}

.stucture-card .info {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 20px 20px;
    background: rgb(0 0 0 / 0.6);
    color: #fff;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.stucture-card:hover .info {
    bottom: 0 !important;
}

.stucture-card .info p {
    margin-bottom: 0px;
    font-size: 0.9rem;
}

.stucture-card .info h5 {
    margin-bottom: 20px;
}

.stucture-card {
    position: relative;
    overflow: hidden;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.architecture-advs img {
    border-radius: 50%;
    border: 3px solid #b08a6a;
    max-width: 100px;
}




/*background: url(https://cms.abpx.kz/{{ slide_img.path }})*/

@keyframes radial-pulse {
    0% {
        box-shadow: 0 0 0 0px #83c809;
        background-position: 0px -40px;
    }

    100% {
        box-shadow: 0 0 0 13px rgba(0, 0, 0, 0);
        background-position: 5000px -40px;
    }
}

a.navbar-brand {
    position: relative;
}

.sidebar {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: 80px;
    background: rgb(255 255 255 / 90%);
    z-index: 1111;
    transform: translateX(-100%);
    transition: all 0.4s ease-out;
}

.sidebar ul li a {
    font-size: 1rem;
}

.call .phone {
    font-size: 1rem;
}

.sidebar.open {
    transform: translateX(0);
}

.ham5 .top {
    stroke-dasharray: 40 82;
}

.ham5 .bottom {
    stroke-dasharray: 40 82;
}

.ham5.active .top {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
}

.ham5.active .bottom {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham5 .top {
    stroke-dasharray: 40 82;
}

.ham5 .bottom {
    stroke-dasharray: 40 82;
}

.ham5.active .top {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
    transform: translateX(20px);
}

.ham5.active .bottom {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
    transform: translateX(20px);
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.sidebar img {
    margin-bottom: 20px;
}

.sidebar ul {
    margin-bottom: 10px;
    list-style: none;
    padding: 0px;
}

.sidebar ul li a {
    text-decoration: none;
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
    color: #333333;
    font-weight: 500;
}

.sidebar ul li a:hover {
    color: #b08a6a;
}

.call {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.call .phone {
    margin-bottom: 10px;
    color: #333;
    font-weight: 500;
    text-decoration: none;
}

a.close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    top: 30px;
}

a.close span {
    width: 100%;
    height: 1.5px;
    background: rgb(125 125 125);
    display: inline-block;
    transform: rotate(45deg);
    border-radius: 3px;
    margin-top: -2px;
}

a.close span:first-child {
    transform: rotate(315deg);
    margin-top: 0px;
}

.owl-nav button .owl-next {
    right: 0px;
}

.owl-carousel {
    position: relative;
}

.owl-theme .owl-nav {
    margin: 0px;
}

.owl-nav button.owl-next {
    right: 0px;
}

.owl-nav button.owl-prev {
    left: 0px;
}

.modal a.btn-close {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px 10px;
}

h5.modal-title {
    margin: 10px 0 10px 0px;
    font-size: 26px;
}

.modal-body {
    padding: 2rem;
}

.modal-body input {
    padding: 10px 15px;
}

.modal .form_return p {
    font-size: 18px;
}

.callback-form .form_return p {
    font-size: 19px;
    color: #000;
}

.callback-form .form_return a {
    display: none;
}

#concept .owl-carousel .owl-item img {
    height: 400px;
}

section.concept p {
    font-weight: 500;
}

section.architec p {
    font-weight: 500;
}

.aboutExin .bg-right {
    position: absolute;
    z-index: 0;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.aboutExin .content {
    z-index: 2;
}

.aboutExin .content p:last-child {
    margin-bottom: 0px;
}

section#photGallery img {
    width: 100%;
}

.gallery-swiper .swiper-slide img {
    height: 400px;
    width: auto !important
}

.gallery-swiper .swiper-slide {
    width: auto !important;
}

.exin-info {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgb(0 0 0 / 15%);
}

.exin-info img {
    width: 140px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#photGallery .swiper-slide a:before {content: '';position: absolute;left: 0px;bottom: 0px;right: 0px;top: 0px;background: #fff;opacity: 0.60;transition: .39s all;}

#photGallery .swiper-slide.swiper-slide-active a:before {
    opacity: 0;
}

.contact p i {
    color: #c8a020;
    font-size: 1.22rem;
    margin-right: 10px;
    float: left;
    margin-top: 2px;
}

.contact>p>span, .contact>p>a {
    margin-right: 30px;
    display: inline-block;
    color: #333;
    text
}

section#advantages {
    background-size: cover !important;
}

section#flats {
    position: relative;
    z-index: 1;
}

section#flats:after {
    display: none;
    content: '';
    position: absolute;
    left: 30%;
    top: 20%;
    width: 34%;
    height: 120%;
    z-index: -1;
    background-image: url(../img/compas.svg);
    background-size: cover;
}

section#advantages * {
    z-index: 3;
}

.btn.btn-gradient-filter {
    background: none;
    border: 2px solid #b49632;
    color: #333;
}

.btn.btn-gradient-filter.active {
    color: #fff;
    background-image: linear-gradient(
        40deg,
        hsl(47deg 59% 58%) 0%,
        hsl(46deg 55% 56%) 6%,
        hsl(46deg 52% 54%) 12%,
        hsl(46deg 50% 52%) 18%,
        hsl(46deg 48% 49%) 24%,
        hsl(45deg 51% 47%) 29%,
        hsl(45deg 54% 44%) 35%,
        hsl(45deg 59% 41%) 41%,
        hsl(45deg 66% 37%) 47%,
        hsl(41deg 74% 36%) 53%,
        hsl(34deg 77% 39%) 59%,
        hsl(29deg 80% 41%) 65%,
        hsl(24deg 83% 43%) 71%,
        hsl(20deg 85% 45%) 76%,
        hsl(16deg 88% 47%) 82%,
        hsl(13deg 90% 48%) 88%,
        hsl(8deg 93% 50%) 94%,
        hsl(0deg 100% 50%) 100%
        );
    background-size: 300% 100%;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 0 0.2rem rgb(195 164 57 / 31%);
}

:root {
    --swiper-theme-color: #c8a020;
}

.bg-white-transprent {
    background: rgb(255 255 255 / 80%);
}

body.theme-dark {
    color: #fff;
    background-color: #2e2019;
}

body.theme-dark ul.nav-menu a {
    color: #fff;
}

body.theme-dark a#phoneGroup {
    color: #fff;
}

body.theme-dark .section-slider-content h1 {
    color: #fff;
}

body.theme-dark .slider_content p {
    color: #fff;
}

body.theme-dark .bg-white {
    background-color: #22150E !important;
}

body.theme-dark .fixed {
    background: rgb(33 20 13 / 90%);
}

body.theme-dark .sectionTitle {
    color: #fff;
}

body.theme-dark a.btn.btn-gradient.active {
    color: #fff;
}

body.theme-dark .bg-white-transprent {
    background: hsl(21deg 42% 9%);
}

body.theme-dark .floot-info h4 {
    color: #fff;
}

body.theme-dark a.downloadPlan {
    color: #fff;
}

body.theme-dark #photGallery .swiper-slide a:before {
    background: #22150e;
    opacity: 0.40;
}

body.theme-dark #photGallery .swiper-slide.swiper-slide-active a:before {
    opacity: 0;
}

body.theme-dark .step-information h3 {
    color: #fff;
}

body.theme-dark .step-information {
    background-color: rgb(34 21 14);
}

body.theme-dark section#aboutExin svg>path {
    fill: #2e2019 !important;
}

body.theme-dark footer#footer {
    background: #131211;
}

.brand>a>img {
    height: 75px;
}

.swiper-button-next:after, .swiper-button-prev:after {font-size: 40px;}

.advant-items__slide > img {max-width: 400px;margin-bottom: 24px;border: 8px solid #c9ad4b;border-radius: 3px;}

.advant-image {width: 100%;height: 345px;background-position: center;background-size: cover;border-radius: 3px 100px 100px 3px;margin-bottom: 30px;}

.advant-hide {overflow: hidden;}

.advant-items__slide {border-radius: 3px 100px 100px 3px;overflow: hidden;}

#advantages .swiper-slide-shadow-left, #advantages .swiper-slide-shadow-right {display: none;}

.advant-items .swiper-wrapper {height: auto !important;}

#concept .content strong, #architec .content strong {color: #c8a020;}

.advant-items__slide.swiper-slide-active {transform: scale(1.1);}

.advant-items__slide {transition: transform .4s, opacity .3s;transform: scale(.98);}

.advant-items {padding: 40px 0;}

.advant-hide > p {font-size: 14px;}

.advant-hide > h3 {font-size: 20px;position: relative;}

.advant-hide > h3:after {content: '';position: absolute;left: 0;right: 80%;bottom: -5px;height: 2px;background: linear-gradient(135deg, #caaa3c 0%, #866c1d 46.88%, #a38722 100%);}

.input-err {position: relative;
    background: #efd37d;
    padding: 8px 10px;
    display: inline-flex;
    border-radius: 4px;
    margin-top: 15px;
    line-height: 1.2;
    font-size: .86rem;
    width: 100%;}

img.fslightbox-source {background: #fff;}

.advantages__stars {display: flex;justify-content: center;gap: 4px;font-size: 28px;color: #c8a020;}

.advant-navigation {position: relative;text-align: center;padding: 40px 0 0 0;}

.advant-next, .advant-prev {position: relative;margin: 0;right: auto;left: auto;top: auto;width: auto;height: auto;display: inline-block;transform: none;}

.advant-next:after, .advant-prev:after {font-size: 34px;}

.advant-next {margin-left: 12px;}

.advant-prev {margin-right: 12px;}

.building-steps-navigation {right: 0px;top: 0;width: auto;display: flex;gap: 16px;justify-content: flex-end;position: absolute;height: auto;}

.swiper-button-disabled {}

.building-steps-prev, .building-steps-next {left: auto;right: auto;position: relative;transform: none;top: auto;margin: 0px;}

.building-steps-prev:after, .building-steps-next:after {position: relative;font-size: 32px;}

.contacts-icon {width: 16px;margin-right: 9px;display: inline-block;}

.pay-methods__block {background: #fff;padding: 40px;}

.pay-methods__list {display: flex; flex-wrap: wrap;}

.pay-methods__item {flex: 0 0 25%;display: flex;align-items: flex-start; align-items: center; gap: 16px;padding-right: 24px;}

.pay-methods__img {width: 54px;}

.pay-methods__title {font-size: 14px;font-weight: 500;}

.pay-methods__title-block {font-size: 22px !important;line-height: 1;margin-bottom: 34px;}

.box-shadow { box-shadow: 0 6px 9px -10px #b6b6b6; }

.fslightbox-source {min-width: 600px;min-height: 600px;}

.menu-toggle-wrapper {
    flex: 0;
    align-items: center;
}

.menu-toggle {
    flex-direction: column;
    padding: 8px 8px 8px 0px;
    cursor: pointer; 
}
    .menu-toggle__line {
      display: inline-block;
      height: 2px;
      width: 20px;
      opacity: 1;
      border-radius: 3px;
      transform-origin: left;
      transform: rotate(0);
      background-color: #333;
      transition: transform 0.24s; }
      .menu-toggle__line:not(:last-child) {
        margin-bottom: 5px; }
    .menu-toggle--open .menu-toggle__line:first-child {
      transform: rotate(45deg); }
    .menu-toggle--open .menu-toggle__line:nth-child(2) {
      transform: translateX(20%);
      opacity: 0; }
    .menu-toggle--open .menu-toggle__line:last-child {
      transform: rotate(-45deg); }

      form.body-callback__form:before {content: '';position: absolute;left: -1000px;right: -1000px;bottom: 0px;top: 0px;background: #004D40;z-index: -1;border-radius: 3px;box-shadow: 0 6px 9px -10px #b6b6b6;opacity: 0.9;}

      .body-callback__form {position: relative;padding: 31px 40px 40px 0px;display: flex;flex-wrap: wrap;margin: 0;}
      
      .body-callback__field {padding-right: 24px;flex: 1 1 33.333%;width: 33.333%;}
      
      .body-callback__title {
          flex: 1 1 100%;
        }
      
        .body-callback__title > h3 {
            margin-bottom: 16px;
            text-transform: none;
            color: #fff;
            font-weight: 100;
          }
      
      .body-callback__form:after {content: '';
          position: absolute;
          left: -1000px;
          right: -1000px;
          bottom: 0px;
          top: 0px;background: url(https://cms.abpx.kz/storage/uploads/2022/04/26/62678b4a7d7eeN1_1.F_9--Large.jpeg);background-position: center;background-size: cover;background-attachment: fixed;z-index: -2;}

          .body-callback__form > .form_return {color: #ffff;}

            .body-callback__form > .form_return > p:last-child {margin-bottom: 0px;}

@media (max-width: 1200px) {
    body {
        font-size: .9rem;
    }

    ul.nav-menu a {
        font-size: 0.9rem;
    }

    .brand>a>img {
        height: 65px;
    }

    ul.nav-menu.right li:not(:last-child) {
        margin-right: 1.4rem;
    }
    
    .section-slider-content h1 {
        font-size: 2.8rem;
    }

    .btn {
        font-size: .9rem;
        padding: 0.54rem 1rem;
    }

    .slider_content p {
        font-size: 1rem;
    }

    .about-img img {
        width: 440px;
        bottom: -150px;
    }

    .sectionTitle {
        font-size: 1.8rem;
    }

    .floot-info h4 {
        font-size: 1.2rem;
    }

    .advant-image {
        height: 280px;
    }

    .gallery-swiper .swiper-slide img {
        height: 350px;
    }

    .step-information h3 {
        font-size: 1.3rem;
    }
}

@media (max-width: 1060px) {
    .sectionTitle .ghostTitle {
        font-size: 3.6rem;
        top: -2rem;
    }

    .sectionTitle {
        margin-top: 20px;
    }

    .advantages .advantage.text-end:nth-child(2n) {
        margin-left: 5rem;
        margin-right: 0px;
    }

    .advantages .advantage.text-start:nth-child(2n) {
        margin-right: 5rem;
        margin-left: 0px;
    }

    .advantages .advantage.text-end {
        margin-right: 5rem;
    }

    .advantages .advantage.text-start {
        margin-left: 5rem;
    }

    .advantages .advantage img {
        display: none;
    }

    .advantage-logo img {
        max-width: 370px;
        margin: auto;
    }

    #concept .content, #architec .content {
        font-size: .82rem;
    }
}

@media (max-width: 990px) {
    .pay-methods__item {
        flex: 0 0 50%;
        margin-bottom: 28px;
    }

    .number {
        width: 100%;
    }

    .number .col-md-3 h4 {
        font-size: 45px;
    }

    .number .col-md-3 p {
        font-size: 14px;
    }

    .section-slider-content h1 {
        font-size: 2.8rem;
    }

    .advant-items__slide:not(.swiper-slide-active) {
        opacity: 0.7;
    }

    section#about {
        background-position: left bottom;
    }

    .btn {
        font-size: .85rem;
        padding: 0.40rem 1rem;
    }

    .body-callback__form {
        padding-right: 0px;
    }

    .body-callback__field:not(:last-child) {
        flex: 1 1 40%;
        width: 40%;
    }

    .body-callback__field:last-child {
        flex: 1 1 20%;
        width: 20%;
        padding: 0;
    }

    .body-callback__field:last-child>.btn {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .section-slider-content h1 {
        font-size: 2.4rem;
    }

    .section-slider-content {
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .number {
        transform: none;
    }

    .number .col-md-3 {
        margin-bottom: 15px;
    }

    .number .col-md-3:nth-child(3),
    .number .col-md-3:nth-child(4) {
        margin-bottom: 0px;
    }

    .number .col-md-3:nth-child(2) {
        border: none;
    }

    #concept .owl-carousel .owl-item img {
        height: 250px;
    }

    #map {
        height: 400px !important;
    }

    .stucture-card .info {
        bottom: 0px !important;
    }
    .fixed a.navbar-brand img {
        width: 70px;
    }

    .preloader-content {
        width: 50%;
    }

    section.slider {
        min-height: 0px
    }

    .advantages .advantage.text-end:nth-child(2n) {
        margin-left: 2rem;
        margin-right: 0px;
    }

    .advantages .advantage.text-start:nth-child(2n) {
        margin-right: 2rem;
        margin-left: 0px;
    }

    .advantages .advantage.text-end {
        margin-right: 2rem;
    }

    .advantages .advantage.text-start {
        margin-left: 2rem;
    }

    .advantages .advantage img {
        display: none;
    }

    .advantage-logo img {
        max-width: 100%;
        margin: auto;
    }

    .gallery-swiper .swiper-slide img {
        height: 250px;
    }

    .cloud.decor1 {
        background-size: 140%;
        background-position-x: left;
    }

    .cloud.decor2 {
        background-size: 120%;
        background-position-x: right;
    }

    .city {
        background-position: center;
    }

    .slider_content h3 {
        font-size: 1.4rem;
        font-weight: 400;
    }

    .slider_content {
        margin-top: 0px;
    }

    .contacts-content {
        position: relative;
    }

    .callback-form:before {
        display: none;
    }

    .callback-form {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    a#phoneGroup img {
        margin-right: 0;
        margin-top: 0;
        width: 30px;
        margin-left: 15px;
    }
}

@media (max-width: 576px) {

    .pay-methods__item {
        flex: 0 0 100%;
        padding: 0;
    }

    .navbar-brand {
        margin-right: 4px;
    }

    .section-slider-content {
        border: none;
        margin-left: 0px;
    }

    #concept .owl-carousel .owl-item img {
        height: 180px !important;
    }

    .btn {
        padding: 0.7rem 1rem;
        font-size: 0.8rem !important;
    }

    a.downloadPlan {
        margin-bottom: 15px;
    }

    .sectionTitle {
        font-size: 1.8rem;
    line-height: 1;}

    .section-slider-content h1 {
        font-size: 2.4rem;
        margin-bottom: 15px;
    }

    .architecture-advs img {
        max-width: 80px;
        margin-right: 10px !important;
    }

    .architecture-advs span.separator {
        margin-right: 15px;
    }

    .architecture-advs p {
        font-size: 0.8567rem;
        font-weight: 500;
    }

    .architecture-advs:nth-child(2n) {
        flex-direction: row-reverse;
    }

    .architecture-advs {
        margin-bottom: 25px;
    }

    .architecture-advs:last-child {
        margin-bottom: 0px;
    }

    #phoneGroup > span:not(.icon) {
        display: none;
    }

    .body-callback__field {
        flex: 1 1 100% !important;
        width: 100% !important;
        padding: 0px;
        margin-bottom: 20px;

    }

    .body-callback__field:last-child {
        margin-bottom: 0px !important;
    }

    .body-callback__field > .btn {
        width: auto !important;
        padding-left: 24px;
        padding-right: 24px;
    }

    .slider {height: 100% !important;}

    .section-slider-content {transform: translateY(-15%);}

    section#about {background: #ffff;}

    .floot-info {flex-direction: column;}

    .floor-data > p {margin-bottom: 0;}

    .floor-data > a {margin-top: 0;}

    .gallery-swiper .swiper-slide img {
        height: 200px;
    }

    .building-steps-prev:after, .building-steps-next:after {font-size: 26px;}

    .building-steps-prev, .building-steps-next {height: 32px;}
}

.footer-content__bottom {width: 100%;position: relative;text-align: center;padding-top: 40px;}

.footer-content__bottom > a {font-size: 12px;color: #fff;}